@import './constants//colours.scss';

.App {
  flex-direction: column;
  background-color: $secondary-color;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body, #root, .App {
  display: flex;
  flex: 1;
}

div {
  display: flex;
}
